/*<meta />*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i|Roboto:400,400i');

/* Open Sans is the default font. Preferred fallback is Segoe UI. Arial and sans-serif are fallbacks. */

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i'); */

body
{
	color: #404040;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1.7em;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

h1
{
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	color: #538cbe;
	font-size: 1.7em;
}

h2
{
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-top: 20px;
	color: #538cbe;
}

h3
{
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

h4
{
	font-family: 'Roboto Condensed', Arial, sans-serif;
	color: #00621f;
	margin-bottom: 0;
	margin-top: 0;
	margin: 0;
	display: block;
	line-height: normal;
}

H5
{
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: bold;
	font-size: 13.0pt;
	margin-top: 6pt;
	margin-bottom: 0;
	line-height: normal;
	color: #197519;
}

LI.H5
{
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: bold;
	font-size: 10.0pt;
	line-height: 150%;
	color: #848484;
}

li
{
	margin-bottom: 6px;
	margin-top: 0;
	display: list-item;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

p.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-family: Roboto, Arial, sans-serif;
	padding: 14px 20px;
	color: #000000;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-image: url('../Images/CLIP_icon.PNG');
	background-color: #d3d3d3;
	border-bottom-color: #000000;
	border-top-color: #ffffff;
	border-right-color: #ffffff;
	border-left-color: #ffffff;
	background-origin: padding-box;
	mc-auto-number-format: '{b}NOTE: {/b}';
}

p.note_middle
{
	border-left: solid 1px #7fba00;
	border-right: solid 1px #7fba00;
	font-family: Roboto, Arial, sans-serif;
	color: #000000;
	border-top-left-radius: 6px;
	margin-bottom: 0;
	padding-right: 20px;
	padding-bottom: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BFD62F;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BFD62F;
	padding-left: 20px;
	margin-top: 0px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	padding-top: 6px;
	-webkit-top-left-border-radius: 0;
	-webkit-top-right-border-radius: 0;
	background-color: #d3d3d3;
}

p.warning
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-family: Roboto, Arial, sans-serif;
	border-radius: 6px;
	padding: 14px 20px;
	background-repeat: no-repeat;
	padding-left: 50px;
	color: #000000;
	border: solid 1px #ff0000;
	background-color: #f0e68c;
	mc-auto-number-format: '{b}Warning! {/b} ';
}

p.warning_forNumLists
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	mc-leader-indent: 5pt;
	color: #000000;
	font-family: Roboto, Arial, sans-serif;
	background-repeat: no-repeat;
	border-bottom-color: #ff0000;
	border: solid 1px #ff0000;
	background-color: #f0e68c;
	background-image: none;
	margin-left: 14px;
	padding-left: 14px;
	mc-auto-number-format: '{b}Warning! {/b} ';
}

p.note_forNumLists
{
	border: solid 1px #7fba00;
	color: #000000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-family: Roboto, Arial, sans-serif;
	border-radius: 6px;
	padding: 14px 20px;
	margin-left: 20px;
	background-image: url('../Images/CLIP_icon.PNG');
	background-repeat: no-repeat;
	padding-left: 50px;
	background-color: #d3d3d3;
	mc-auto-number-format: '{b}NOTE: {/b}';
}

html.templateTopic div.sideContent
{
	display: none;
}

html.pulseTopic .main-section .row.outer-row
{
	padding: 0;
}

